<h1><%= @contact.job_title()%></h1>
<h2>Address</h2>
<ul>
	<h3><li>
		<%@addresses.each() do |address|%>
			<%address.to_s().each_line() do |line|%>
				<%= line%>
				<br>
			<%end%>
		<%end%>
	</li></h3>
</ul>

<h2>Phone</h2>
<ul>
	<%@phone_numbers.each() do |number|%>
		<h3><li><%= number%></li></h3>
	<%end%>
</ul>

<h2>Email</h2>
	<%@emails.each() do |email|%>
		<h3><li><%= email%></li></h3>
	<%end%>
</h2>